body {
    background-color: #1C7022;
    position: relative;
    margin-bottom: inherit;
    width: 30%;
}

header {
  position: relative;
  width: 1435px;
  background-color: rgb(98,57,27);
  padding: 5px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  margin: -12px;
}

h1  {
  position: relative;
  font-size: 70px;
  color: white;
  left: 550px;
  top: -140px;
  z-index: 2;
  font-family: monospace;
}

#logoImg {
  position: relative;
  top: 8px;
  left: -620px;
}

#instructions {
  position: relative;
  left: 1165px;
  top: -245px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid #1C7022;
  border-radius: 30%;
  font-family: monospace;
}


#rouletteTable {
  position: absolute;
  width: 800px;
  top: 250px;
  left: 590px;
}

#rouletteWheel {
  position: absolute;
  top: 225px;
  left: 40px;
  width: 500px;
  animation-name: wheelRotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



#winningAmount {
  position: relative;
  top: -218px;
  left: 355px;
  width: 405px;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  /* border: 2px solid black; */
}

#totalBet {
  position: relative;
  top: -278px;
  left: 780px;
  width: 340px;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  width: 310px;
  /* border: 2px solid black; */

}

#balance {
  position: relative;
  top: -338px;
  left: 1105px;
  width: 310px;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  /* border: 2px solid black; */
}

#cashOutButton {
  position: relative;
  left: 45px;
  top: 210px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid rgb(98,57,27);
  border-radius: 30%;
  font-family: monospace;
  width: 310px;
}

#spinButton {
  position: relative;
  right: -950px;
  top: 150px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid rgb(98,57,27);
  border-radius: 30%;
  font-family: monospace;
}

#clearButton {
  position: relative;
  right: -1260px;
  top: 95px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid rgb(98,57,27);
  border-radius: 30%;
  font-family: monospace;
}

#casinoChipsFooter {
  position: relative;
  width: 150px;
  left: 580px;
  top: 100px;
}

#option1 {
  position: relative;
  left: 700px;
  bottom: 223px;
  width: 10%;
  height: 45px;
}

#option2 {
  position: relative;
  left: 654px;
  bottom: 297px;
  width: 10%;
  height: 45px;
}

#option3 {
  position: relative;
  left: 605px;
  bottom: 372px;
  width: 10%;
  height: 45px;
}

#option4 {
  position: relative;
  left: 610px;
  bottom: 222px;
  width: 10%;
  height: 45px;
}

#option5 {
  position: relative;
  left: 562px;
  bottom: 297px;
  width: 10%;
  height: 45px;
}

#option6 {
  position: relative;
  left: 515px;
  bottom: 372px;
  width: 10%;
  height: 45px;
}

#option7 {
  position: relative;
  left: 520px;
  bottom: 222px;
  width: 10%;
  height: 45px;
}

#option8 {
  position: relative;
  left: 475px;
  bottom: 297px;
  width: 10%;
  height: 45px;
}

#option9 {
  position: relative;
  left: 427px;
  bottom: 372px;
  width: 10%;
  height: 45px;
}

#option10 {
  position: relative;
  left: 854px;
  bottom: 267px;
  width: 10%;
  height: 45px;
}

#option11 {
  position: relative;
  left: 807px;
  bottom: 342px;
  width: 10%;
  height: 45px;
}

#option12 {
  position: relative;
  left: 760px;
  bottom: 417px;
  width: 10%;
  height: 45px;
}

#option13 {
  position: relative;
  left: 765px;
  bottom: 267px;
  width: 10%;
  height: 45px;
}

#option14 {
  position: relative;
  left: 718px;
  bottom: 342px;
  width: 10%;
  height: 45px;
}

#option15 {
  position: relative;
  left: 669px;
  bottom: 417px;
  width: 10%;
  height: 45px;
}

#option16 {
  position: relative;
  left: 673px;
  bottom: 267px;
  width: 10%;
  height: 45px;
}

#option17 {
  position: relative;
  left: 625px;
  bottom: 342px;
  width: 10%;
  height: 45px;
}

#option18 {
  position: relative;
  left: 577px;
  bottom: 417px;
  width: 10%;
  height: 45px;
}

#option19 {
  position: relative;
  left: 1007px;
  bottom: 312px;
  width: 10%;
  height: 45px;
}

#option20 {
  position: relative;
  left: 960px;
  bottom: 387px;
  width: 10%;
  height: 45px;
}

#option21 {
  position: relative;
  left: 912px;
  bottom: 462px;
  width: 10%;
  height: 45px;
}

#option22 {
  position: relative;
  left: 917px;
  bottom: 312px;
  width: 10%;
  height: 45px;
}

#option23 {
  position: relative;
  left: 870px;
  bottom: 387px;
  width: 10%;
  height: 45px;
}

#option24 {
  position: relative;
  left: 822px;
  bottom: 462px;
  width: 10%;
  height: 45px;
}

#option25 {
  position: relative;
  left: 827px;
  bottom: 312px;
  width: 10%;
  height: 45px;
}

#option26 {
  position: relative;
  left: 780px;
  bottom: 387px;
  width: 10%;
  height: 45px;
}

#option27 {
  position: relative;
  left: 732px;
  bottom: 462px;
  width: 10%;
  height: 45px;
}

#option28 {
  position: relative;
  left: 1160px;
  bottom: 357px;
  width: 10%;
  height: 45px;
}

#option29 {
  position: relative;
  left: 1113px;
  bottom: 432px;
  width: 10%;
  height: 45px;
}

#option30 {
  position: relative;
  left: 1066px;
  bottom: 507px;
  width: 10%;
  height: 45px;
}

#option31 {
  position: relative;
  left: 1070px;
  bottom: 357px;
  width: 10%;
  height: 45px;
}

#option32 {
  position: relative;
  left: 1023px;
  bottom: 432px;
  width: 10%;
  height: 45px;
}

#option33 {
  position: relative;
  left: 976px;
  bottom: 507px;
  width: 10%;
  height: 45px;
}

#option34 {
  position: relative;
  left: 980px;
  bottom: 357px;
  width: 10%;
  height: 45px;
}

#option35 {
  position: relative;
  left: 933px;
  bottom: 432px;
  width: 10%;
  height: 45px;
}

#option36 {
  position: relative;
  left: 885px;
  bottom: 507px;
  width: 10%;
  height: 45px;
}

#option0 {
  position: relative;
  left: 635px;
  bottom: 520px;
  width: 13%;
  height: 130px;
}

#option1st12 {
  position: relative;
  left: 641px;
  bottom: 383px;
  width: 45%;
  height: 47px;
}

#option2nd12 {
  position: relative;
  left: 907px;
  bottom: 471px;
  width: 45%;
  height: 47px;
}

#option3rd12 {
  position: relative;
  left: 912px;
  bottom: 472px;
  width: 45%;
  height: 47px;
}

#option1to18 {
  position: relative;
  left: 700px;
  bottom: 467px;
  width: 22%;
  height: 47px;
}

#optionEven {
  position: relative;
  left: 703px;
  bottom: 467px;
  width: 22%;
  height: 47px;
}

#optionRed {
  position: relative;
  left: 707px;
  bottom: 467px;
  width: 22%;
  height: 47px;
}

#optionBlack {
  position: relative;
  left: 710px;
  bottom: 467px;
  width: 22%;
  height: 47px;
}

#optionOdd {
  position: relative;
  left: 1109px;
  bottom: 521px;
  width: 22%;
  height: 47px;
}

#option19to36 {
  position: relative;
  left: 1112px;
  bottom: 521px;
  width: 22%;
  height: 47px;
}

#optionTwoToOne1 {
  position: relative;
  left: 1116px;
  bottom: 635px;
  width: 10%;
  height: 60px;
}

#optionTwoToOne2 {
  position: relative;
  left: 1070px;
  bottom: 708px;
  width: 10%;
  height: 60px;
}

#optionTwotoOne3 {
  position: relative;
  left: 1022px;
  bottom: 782px;
  width: 10%;
  height: 60px;
}

#oneOverTwo {
  position: relative;
  left: 701px;
  bottom: 714px;
  width: 10%;
  height: 25px;
}

#twoOverThree {
  position: relative;
  left: 654px;
  bottom: 788px;
  width: 10%;
  height: 25px;
}

#fourOverFive {
  position: relative;
  left: 657px;
  bottom: 714px;
  width: 10%;
  height: 25px;
}

#fiveOverSix {
  position: relative;
  left: 609px;
  bottom: 788px;
  width: 10%;
  height: 25px;
}

#sevenOverEight {
  position: relative;
  left: 614px;
  bottom: 713px;
  width: 10%;
  height: 25px;
}

#eightOverNine {
  position: relative;
  left: 567px;
  bottom: 788px;
  width: 10%;
  height: 25px;
}

#tenOverEleven {
  position: relative;
  left: 572px;
  bottom: 713px;
  width: 10%;
  height: 25px;
}

#elevenOverTwelve {
  position: relative;
  left: 524px;
  bottom: 788px;
  width: 10%;
  height: 25px;
}

#thirteenOverFourteen {
  position: relative;
  left: 530px;
  bottom: 713px;
  width: 10%;
  height: 25px;
}

#fourteenOverFifteen {
  position: relative;
  left: 905px;
  bottom: 813px;
  width: 10%;
  height: 25px;
}

#sixteenOverSeventeen {
  position: relative;
  left: 910px;
  bottom: 738px;
  width: 10%;
  height: 25px;
}

#seventeenOverEighteen {
  position: relative;
  left: 862px;
  bottom: 813px;
  width: 10%;
  height: 25px;
}

#nineteenOverTwenty {
  position: relative;
  left: 865px;
  bottom: 738px;
  width: 10%;
  height: 25px;
}

#twentyOverTwentyOne {
  position: relative;
  left: 818px;
  bottom: 813px;
  width: 10%;
  height: 25px;
}

#twentyTwoOverTwentyThree {
  position: relative;
  left: 822px;
  bottom: 737px;
  width: 10%;
  height: 25px;
}

#twentyThreeOverTwentyFour {
  position: relative;
  left: 775px;
  bottom: 813px;
  width: 10%;
  height: 25px;
}

#twentyFiveOverTwentySix {
  position: relative;
  left: 780px;
  bottom: 737px;
  width: 10%;
  height: 25px;
}

#twentySixOverTwentySeven {
  position: relative;
  left: 732px;
  bottom: 813px;
  width: 10%;
  height: 25px;
}

#twentyEightOverTwentyNine {
  position: relative;
  left: 1161px;
  bottom: 762px;
  width: 10%;
  height: 25px;
}

#twentyNineOverThirty {
  position: relative;
  left: 1113px;
  bottom: 838px;
  width: 10%;
  height: 25px;
}

#thirtyOneOverThirtyTwo {
  position: relative;
  left: 1118px;
  bottom: 763px;
  width: 10%;
  height: 25px;
}

#thirtyTwoOverThirtyThree {
  position: relative;
  left: 1070px;
  bottom: 838px;
  width: 10%;
  height: 25px;
}

#thirtyFourOverThirtyFive {
  position: relative;
  left: 1074px;
  bottom: 762px;
  width: 10%;
  height: 25px;
}

#thirtyFiveOverThirtySix {
  position: relative;
  left: 1028px;
  bottom: 838px;
  width: 10%;
  height: 25px;
}

#oneToFive {
  position: relative;
  left: 739px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#twoToSix {
  position: relative;
  left: 718px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#fourToEight {
  position: relative;
  left: 747px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#fiveToNine {
  position: relative;
  left: 725px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#sevenToEleven {
  position: relative;
  left: 754px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#eightToTwelve {
  position: relative;
  left: 732px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#tenToFourteen {
  position: relative;
  left: 760px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#elevenToFifteen {
  position: relative;
  left: 738px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#thirteenToSeventeen {
  position: relative;
  left: 767px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#fourteenToEighteen {
  position: relative;
  left: 745px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#sixteenToTwenty {
  position: relative;
  left: 774px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#seventeenToTwentyOne {
  position: relative;
  left: 752px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#nineteenToTwentyThree {
  position: relative;
  left: 782px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#twentyToTwentyFour {
  position: relative;
  left: 760px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#twentyTwoToTwentySix {
  position: relative;
  left: 788px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#twentyThreeToTwentySeven {
  position: relative;
  left: 767px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#twentyfiveToTwentyNine {
  position: relative;
  left: 796px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#twentySixToThirty {
  position: relative;
  left: 773px;
  bottom: 863px;
  width: 18px;
  height: 25px;
}

#twentyEightToThirtyTwo {
  position: relative;
  left: 803px;
  bottom: 789px;
  width: 18px;
  height: 25px;
}

#twentyNineToThirtyThree {
  position: relative;
  left: 1200px;
  bottom: 888px;
  width: 18px;
  height: 25px;
}

#thirtyOneToThirtyFive {
  position: relative;
  left: 1228px;
  bottom: 815px;
  width: 18px;
  height: 25px;
}

#thirtyTwoToThirtySix {
  position: relative;
  left: 1206px;
  bottom: 888px;
  width: 18px;
  height: 25px;
}

.instructionsDiv {
  z-index: 3;
  width: 700px;
  position: relative;
  background-color: rgb(98,57,27);
  padding: 17px;
  font-size: 20px;
  font-family: monospace;
  color: white;
  line-height: 25px;
  left: 699px;
  bottom: 1202px;
  opacity: 100;
}







/* CHIPS FOR EACH BUTTON */

#chip1 {
  position: relative;
  left: 700px;
  bottom: 1030px;
}

#chip2 {
  position: relative;
  left: 655px;
  bottom: 1100px;
}

#chip3 {
  position: relative;
  left: 610px;
  bottom: 1180px;
}

#chip4 {
  position: relative;
  left: 620px;
  bottom: 1030px;
}

#chip5 {
  position: relative;
  left: 575px;
  bottom: 1100px;
}

#chip5 {
  position: relative;
  left: 575px;
  bottom: 1100px;
}

#chip6 {
  position: relative;
  left: 533px;
  bottom: 1180px;
}

#chip7 {
  position: relative;
  left: 540px;
  bottom: 1030px;
}

#chip8 {
  position: relative;
  left: 495px;
  bottom: 1100px;
}

#chip9 {
  position: relative;
  left: 455px;
  bottom: 1180px;
}

#chip10 {
  position: relative;
  left: 855px;
  bottom: 1060px;
}

#chip11 {
  position: relative;
  left: 810px;
  bottom: 1130px;
}

#chip12 {
  position: relative;
  left: 770px;
  bottom: 1210px;
}

#chip13 {
  position: relative;
  left: 775px;
  bottom: 1060px;
}

#chip14 {
  position: relative;
  left: 730px;
  bottom: 1130px;
}

#chip15 {
  position: relative;
  left: 685px;
  bottom: 1210px;
}

#chip16 {
  position: relative;
  left: 695px;
  bottom: 1060px;
}

#chip17 {
  position: relative;
  left: 650px;
  bottom: 1130px;
}

#chip18 {
  position: relative;
  left: 605px;
  bottom: 1210px;
}

#chip19 {
  position: relative;
  left: 1010px;
  bottom: 1090px;
}

#chip20 {
  position: relative;
  left: 965px;
  bottom: 1160px;
}

#chip21 {
  position: relative;
  left: 920px;
  bottom: 1240px;
}

#chip22 {
  position: relative;
  left: 930px;
  bottom: 1090px;
}

#chip23 {
  position: relative;
  left: 885px;
  bottom: 1160px;
}

#chip24 {
  position: relative;
  left: 840px;
  bottom: 1240px;
}

#chip25 {
  position: relative;
  left: 850px;
  bottom: 1090px;
}

#chip26 {
  position: relative;
  left: 805px;
  bottom: 1160px;
}

#chip27 {
  position: relative;
  left: 760px;
  bottom: 1240px;
}

#chip28 {
  position: relative;
  left: 1160px;
  bottom: 1120px;
}

#chip29 {
  position: relative;
  left: 1115px;
  bottom: 1190px;
}

#chip30 {
  position: relative;
  left: 1070px;
  bottom: 1270px;
}

#chip31 {
  position: relative;
  left: 1080px;
  bottom: 1120px;
}

#chip32 {
  position: relative;
  left: 1035px;
  bottom: 1190px;
}

#chip33 {
  position: relative;
  left: 990px;
  bottom: 1270px;
}

#chip34 {
  position: relative;
  left: 1000px;
  bottom: 1120px;
}

#chip35 {
  position: relative;
  left: 955px;
  bottom: 1190px;
}

#chip36 {
  position: relative;
  left: 910px;
  bottom: 1270px;
}

#chip0 {
  position: relative;
  left: 645px;
  bottom: 1220px;
}

#chip2To1One {
  position: relative;
  left: 1270px;
  bottom: 1150px;
}

#chip2To1Two {
  position: relative;
  left: 1230px;
  bottom: 1220px;
}

#chip2To1Three {
  position: relative;
  left: 1185px;
  bottom: 1300px;
}

#chip1st12 {
  position: relative;
  left: 605px;
  bottom: 1085px;
}

#chip2nd12 {
  position: relative;
  left: 765px;
  bottom: 1085px;
}

#chip3rd12 {
  position: relative;
  left: 920px;
  bottom: 1085px;
}

#chip1To18 {
  position: relative;
  left: 425px;
  bottom: 1030px;
}

#chipEven {
  position: relative;
  left: 480px;
  bottom: 1030px;
}

#chipRed {
  position: relative;
  left: 930px;
  bottom: 1060px;
}

#chipBlack {
  position: relative;
  left: 990px;
  bottom: 1060px;
}

#chipOdd {
  position: relative;
  left: 1050px;
  bottom: 1060px;
}

#chip19To36 {
  position: relative;
  left: 1110px;
  bottom: 1060px;
}

#chip1Over2 {
  position: relative;
  left: 700px;
  bottom: 1243px;
}

#chip2Over3 {
  position: relative;
  left: 655px;
  bottom: 1315px;
}

#chip3Over4 {
  position: relative;
  left: 655px;
  bottom: 1315px;
}

#chip4Over5 {
  position: relative;
  left: 665px;
  bottom: 1243px;
}

#chip5Over6 {
  position: relative;
  left: 620px;
  bottom: 1315px;
}

#chip7Over8 {
  position: relative;
  left: 630px;
  bottom: 1243px;
}

#chip8Over9 {
  position: relative;
  left: 585px;
  bottom: 1315px;
}

#chip10Over11 {
  position: relative;
  left: 590px;
  bottom: 1242px;
}

#chip11Over12 {
  position: relative;
  left: 547px;
  bottom: 1315px;
}

#chip13Over14 {
  position: relative;
  left: 555px;
  bottom: 1240px;
}

#chip14Over15 {
  position: relative;
  left: 905px;
  bottom: 1345px;
}

#chip16Over17 {
  position: relative;
  left: 915px;
  bottom: 1270px;
}

#chip17Over18 {
  position: relative;
  left: 867px;
  bottom: 1345px;
}

#chip19Over20 {
  position: relative;
  left: 878px;
  bottom: 1270px;
}

#chip20Over21 {
  position: relative;
  left: 830px;
  bottom: 1345px;
}

#chip22Over23 {
  position: relative;
  left: 842px;
  bottom: 1270px;
}


#chip23Over24 {
  position: relative;
  left: 795px;
  bottom: 1345px;
}

#chip25Over26 {
  position: relative;
  left: 805px;
  bottom: 1270px;
}

#chip26Over27 {
  position: relative;
  left: 760px;
  bottom: 1345px;
}

#chip28Over29 {
  position: relative;
  left: 1160px;
  bottom: 1300px;
}

#chip29Over30 {
  position: relative;
  left: 1120px;
  bottom: 1375px;
}

#chip31Over32 {
  position: relative;
  left: 1125px;
  bottom: 1300px;
}

#chip32Over33 {
  position: relative;
  left: 1080px;
  bottom: 1375px;
}

#chip34Over35 {
  position: relative;
  left: 1090px;
  bottom: 1300px;
}

#chip35Over36 {
  position: relative;
  left: 1045px;
  bottom: 1375px;
}





#chip1To5 {
  position: relative;
  left: 727px;
  bottom: 1332px;
}

#chip2To6 {
  position: relative;
  left: 683px;
  bottom: 1405px;
}

#chip4To8 {
  position: relative;
  left: 691px;
  bottom: 1331px;
}

#chip5To9 {
  position: relative;
  left: 647px;
  bottom: 1405px;
}

#chip7To11 {
  position: relative;
  left: 654px;
  bottom: 1331px;
}

#chip8To12 {
  position: relative;
  left: 612px;
  bottom: 1405px;
}

#chip10To14 {
  position: relative;
  left: 616px;
  bottom: 1331px;
}

#chip11To15 {
  position: relative;
  left: 572px;
  bottom: 1405px;
}

#chip13To17 {
  position: relative;
  left: 580px;
  bottom: 1330px;
}

#chip14To18 {
  position: relative;
  left: 930px;
  bottom: 1434px;
}

#chip16To20 {
  position: relative;
  left: 940px;
  bottom: 1360px;
}

#chip17To21 {
  position: relative;
  left: 895px;
  bottom: 1434px;
}

#chip19To23 {
  position: relative;
  left: 903px;
  bottom: 1359px;
}

#chip20To24 {
  position: relative;
  left: 858px;
  bottom: 1434px;
}

#chip22To26 {
  position: relative;
  left: 866px;
  bottom: 1359px;
}

#chip23To27 {
  position: relative;
  left: 822px;
  bottom: 1434px;
}

#chip25To29 {
  position: relative;
  left: 829px;
  bottom: 1359px;
}

#chip26To30 {
  position: relative;
  left: 785px;
  bottom: 1434px;
}

#chip28To32 {
  position: relative;
  left: 1187px;
  bottom: 1390px;
}

#chip29To33 {
  position: relative;
  left: 1145px;
  bottom: 1465px;
}

#chip31To35 {
  position: relative;
  left: 1152px;
  bottom: 1390px;
}

#chip32To36 {
  position: relative;
  left: 1108px;
  bottom: 1463px;
}


@keyframes wheelRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.straightBetChips{
  opacity: 0;
}

.rowBetChips {
  opacity: 0;
}

.fourCornerChips {
  opacity: 0;
}
