body {
    background-color: #1C7022;
    position: absolute;
    margin-bottom: inherit;
    width: 27%;
}

header {
  position: absolute;
  width: 1435px;
  left: -10px;
  top: -10px;
  background-color: rgb(98,57,27);
  padding: 5px;
  text-align: center;
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;

}

h1  {
  position: absolute;
  font-size: 70px;
  color: white;
  left: 550px;
  top: -40px;
  z-index: 2;
  font-family: monospace;
}

#logoImg {
  position: relative;
  top: 8px;
  left: -620px;
}

#instructions {
  position: absolute;
  left: 1165px;
  top: 27px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid #1C7022;
  border-radius: 30%;
  font-family: monospace;
}


#rouletteTable {
  position: absolute;
  width: 1025px;
  top: 150px;
  left: 405px;
}

#rouletteWheel {
  position: absolute;
  top: 230px;
  left: 5px;
  width: 425px;
  animation-name: wheelRotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



#winningAmount {
  position: absolute;
  top: 110px;
  left: 355px;
  width: 405px;
  padding: 5px 5px 5px 0px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  /* border: 2px solid black; */
}

#totalBet {
  position: absolute;
  top: 110px;
  left: 760px;
  width: 340px;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  width: 310px;
  /* border: 2px solid black; */

}

#balance {
  position: absolute;
  top: 110px;
  left: 1105px;
  width: 310px;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  /* border: 2px solid black; */
}

#cashOutButton {
  position: absolute;
  left: 45px;
  top: 730px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid rgb(98,57,27);
  border-radius: 30%;
  font-family: monospace;
  width: 310px;
  z-index: 3;
}

#spinButton {
  position: absolute;
  left: 1264px;
  top: 670px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid rgb(98,57,27);
  border-radius: 30%;
  font-family: monospace;
}

#clearButton {
  position: absolute;
  left: 1260px;
  top: 730px;
  padding: 5px 20px 5px 20px;
  font-size: 25px;
  border: 5px solid rgb(98,57,27);
  border-radius: 30%;
  font-family: monospace;
}


#casinoChips {
  position: absolute;
  top: 710px;
  left: 700px;
  width: 80px;
}


#option1 {
  position: absolute;
  left: 550px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option2 {
  position: absolute;
  left: 550px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option3 {
  position: absolute;
  left: 550px;
  top: 250px;
  width: 47px;
  height: 60px;;
}

#option4 {
  position: absolute;
  left: 616px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option5 {
  position: absolute;
  left: 616px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option6 {
  position: absolute;
  left: 616px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option7 {
  position: absolute;
  left: 681px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option8 {
  position: absolute;
  left: 681px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option9 {
  position: absolute;
  left: 681px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option10 {
  position: absolute;
  left: 746px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option11 {
  position: absolute;
  left: 747px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option12 {
  position: absolute;
  left: 747px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option13 {
  position: absolute;
  left: 813px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option14 {
  position: absolute;
  left: 813px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option15 {
  position: absolute;
  left: 813px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option16 {
  position: absolute;
  left: 878px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option17 {
  position: absolute;
  left: 878px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option18 {
  position: absolute;
  left: 878px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option19 {
  position: absolute;
  left: 944px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option20 {
  position: absolute;
  left: 944px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option21 {
  position: absolute;
  left: 944px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option22 {
  position: absolute;
  left: 1009px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option23 {
  position: absolute;
  left: 1009px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option24 {
  position: absolute;
  left: 1009px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option25 {
  position: absolute;
  left: 1075px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option26 {
  position: absolute;
  left: 1075px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option27 {
  position: absolute;
  left: 1075px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option28 {
  position: absolute;
  left: 1141px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option29 {
  position: absolute;
  left: 1141px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option30 {
  position: absolute;
  left: 1141px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option31 {
  position: absolute;
  left: 1206px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option32 {
  position: absolute;
  left: 1206px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option33 {
  position: absolute;
  left: 1206px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option34 {
  position: absolute;
  left: 1272px;
  top: 440px;
  width: 47px;
  height: 60px;
}

#option35 {
  position: absolute;
  left: 1272px;
  top: 340px;
  width: 47px;
  height: 60px;
}

#option36 {
  position: absolute;
  left: 1272px;
  top: 250px;
  width: 47px;
  height: 60px;
}

#option0 {
  position: absolute;
  left: 465px;
  top: 285px;
  width: 75px;
  height: 175px;
}

#option1st12 {
  position: absolute;
  left: 553px;
  top: 524px;
  width: 240px;
  height: 47px;
}

#option2nd12 {
  position: absolute;
  left: 815px;
  top: 524px;
  width: 240px;
  height: 47px;
}

#option3rd12 {
  position: absolute;
  left: 1077px;
  top: 524px;
  width: 240px;
  height: 47px;
}

#option1to18 {
  position: absolute;
  left: 545px;
  top: 590px;
  width: 125px;
  height: 47px;
}

#optionEven {
  position: absolute;
  left: 675px;
  top: 590px;
  width: 125px;
  height: 47px;
}

#optionRed {
  position: absolute;
  left: 806px;
  top: 590px;
  width: 125px;
  height: 47px;
}

#optionBlack {
  position: absolute;
  left: 937px;
  top: 590px;
  width: 125px;
  height: 47px;
}

#optionOdd {
  position: absolute;
  left: 1068px;
  top: 590px;
  width: 125px;
  height: 47px;
}

#option19to36 {
  position: absolute;
  left: 1201px;
  top: 590px;
  width: 125px;
  height: 47px;
}

#optionTwoToOne1 {
  position: absolute;
  left: 1332px;
  top: 430px;
  width: 58px;
  height: 80px;
}

#optionTwoToOne2 {
  position: absolute;
  left: 1332px;
  top: 335px;
  width: 58px;
  height: 80px;
}

#optionTwotoOne3 {
  position: absolute;
  left: 1332px;
  top: 240px;
  width: 58px;
  height: 80px;
}

#oneOverTwo {
  position: absolute;
  left: 550px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#twoOverThree {
  position: absolute;
  left: 550px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#fourOverFive {
  position: absolute;
  left: 617px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#fiveOverSix {
  position: absolute;
  left: 617px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#sevenOverEight {
  position: absolute;
  left: 682px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#eightOverNine {
  position: absolute;
  left: 682px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#tenOverEleven {
  position: absolute;
  left: 747px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#elevenOverTwelve {
  position: absolute;
  left: 747px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#thirteenOverFourteen {
  position: absolute;
  left: 812px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#fourteenOverFifteen {
  position: absolute;
  left: 812px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#sixteenOverSeventeen {
  position: absolute;
  left: 878px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#seventeenOverEighteen {
  position: absolute;
  left: 878px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#nineteenOverTwenty {
  position: absolute;
  left: 943px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#twentyOverTwentyOne {
  position: absolute;
  left: 943px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#twentyTwoOverTwentyThree {
  position: absolute;
  left: 1010px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#twentyThreeOverTwentyFour {
  position: absolute;
  left: 1010px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#twentyFiveOverTwentySix {
  position: absolute;
  left: 1075px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#twentySixOverTwentySeven {
  position: absolute;
  left: 1075px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#twentyEightOverTwentyNine {
  position: absolute;
  left: 1140px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#twentyNineOverThirty {
  position: absolute;
  left: 1140px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#thirtyOneOverThirtyTwo {
  position: absolute;
  left: 1205px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#thirtyTwoOverThirtyThree {
  position: absolute;
  left: 1205px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#thirtyFourOverThirtyFive {
  position: absolute;
  left: 1270px;
  top: 407px;
  width: 47px;
  height: 30px;
}

#thirtyFiveOverThirtySix {
  position: absolute;
  left: 1270px;
  top: 312px;
  width: 47px;
  height: 30px;
}

#oneToFive {
  position: absolute;
  left: 595px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#twoToSix {
  position: absolute;
  left: 595px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#fourToEight {
  position: absolute;
  left: 660px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#fiveToNine {
  position: absolute;
  left: 660px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#sevenToEleven {
  position: absolute;
  left: 725px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#eightToTwelve {
  position: absolute;
  left: 725px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#tenToFourteen {
  position: absolute;
  left: 790px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#elevenToFifteen {
  position: absolute;
  left: 790px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#thirteenToSeventeen {
  position: absolute;
  left: 857px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#fourteenToEighteen {
  position: absolute;
  left: 857px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#sixteenToTwenty {
  position: absolute;
  left: 922px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#seventeenToTwentyOne {
  position: absolute;
  left: 922px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#nineteenToTwentyThree {
  position: absolute;
  left: 988px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#twentyToTwentyFour {
  position: absolute;
  left: 988px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#twentyTwoToTwentySix {
  position: absolute;
  left: 1053px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#twentyThreeToTwentySeven {
  position: absolute;
  left: 1053px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#twentyfiveToTwentyNine {
  position: absolute;
  left: 1120px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#twentySixToThirty {
  position: absolute;
  left: 1120px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#twentyEightToThirtyTwo {
  position: absolute;
  left: 1184px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#twentyNineToThirtyThree {
  position: absolute;
  left: 1184px;
  top: 310px;
  width: 25px;
  height: 43px;
}

#thirtyOneToThirtyFive {
  position: absolute;
  left: 1250px;
  top: 405px;
  width: 25px;
  height: 43px;
}

#thirtyTwoToThirtySix {
  position: absolute;
  left: 1250px;
  top: 310px;
  width: 25px;
  height: 43px;
}






/* columnButtons */
#oneOverFour {
  position: absolute;
  left: 595px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#twoOverFive {
  position: absolute;
  left: 595px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#threeOverSix {
  position: absolute;
  left: 595px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#fourOverSeven {
  position: absolute;
  left: 660px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#fiveOverEight {
  position: absolute;
  left: 660px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#sixOverNine {
  position: absolute;
  left: 660px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#sevenOverTen {
  position: absolute;
  left: 725px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#eightOverEleven {
  position: absolute;
  left: 725px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#nineOverTwelve {
  position: absolute;
  left: 725px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#tenOverThirteen {
  position: absolute;
  left: 790px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#elevenOverFourteen {
  position: absolute;
  left: 790px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#twelveOverFifteen {
  position: absolute;
  left: 790px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#thirteenOverSixteen {
  position: absolute;
  left: 855px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#fourteenOverSeventeen {
  position: absolute;
  left: 855px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#fifteenOverEighteen {
  position: absolute;
  left: 855px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#sixteenOverNineteen {
  position: absolute;
  left: 920px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#seventeenOverTwenty {
  position: absolute;
  left: 920px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#eighteenOverTwentyOne {
  position: absolute;
  left: 920px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#nineteenOverTwentyTwo {
  position: absolute;
  left: 987px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#twentyOverTwentyThree {
  position: absolute;
  left: 987px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#twentyOneOverTwentyFour {
  position: absolute;
  left: 987px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#twentyTwoOverTwentyFive {
  position: absolute;
  left: 1053px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#twentyThreeOverTwentySix {
  position: absolute;
  left: 1053px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#twentyFourOverTwentySeven {
  position: absolute;
  left: 1053px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#twentyFiveOverTwentyEight {
  position: absolute;
  left: 1118px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#twentySixOverTwentyNine {
  position: absolute;
  left: 1118px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#twentySevenOverThirty {
  position: absolute;
  left: 1118px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#twentyEightOverThirtyOne {
  position: absolute;
  left: 1183px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#twentyNineOverThirtyTwo {
  position: absolute;
  left: 1183px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#thirtyOverThirtyThree {
  position: absolute;
  left: 1183px;
  top: 250px;
  width: 25px;
  height: 55px;
}

#thirtyOneOverThirtyFour {
  position: absolute;
  left: 1248px;
  top: 450px;
  width: 25px;
  height: 55px;
}

#thirtyTwoOverThirtyFive{
  position: absolute;
  left: 1248px;
  top: 350px;
  width: 25px;
  height: 55px;
}

#thirtyThreeOverThirtySix {
  position: absolute;
  left: 1248px;
  top: 250px;
  width: 25px;
  height: 55px;
}



.instructionsDiv {
  z-index: -3;
  width: 700px;
  position: absolute;
  background-color: rgb(98,57,27);
  padding: 17px;
  font-size: 20px;
  font-family: monospace;
  color: white;
  line-height: 25px;
  left: 699px;
  top: 100px;
  opacity: 0;
}

.straightBetButtons {
  opacity: 100;
  z-index: 5
  /* z-index: 2; */
}

.rowBetButtons {
  opacity: 100;
    z-index: 5
}

.fourCornerButtons {
  opacity: 100;
    z-index: 5
}

.columnButtons {
  opacity: 100;
    z-index: 5
}

/* CHIPS FOR EACH BUTTON */


#chip1 {
  position: absolute;
  left: 550px;
  top: 460px;
  opacity: 0;
}

#chip2 {
  position: absolute;
  left: 550px;
  top: 360px;
  opacity: 0;
}

#chip3 {
  position: absolute;
  left: 550px;
  top: 270px;
  opacity: 0;
}

#chip4 {
  position: absolute;
  left: 620px;
  top: 460px;
  opacity: 0;
}

#chip5 {
  position: absolute;
  left: 620px;
  top: 360px;
  opacity: 0;
}


#chip6 {
  position: absolute;
  left: 620px;
  top: 270px;
  opacity: 0;
}

#chip7 {
  position: absolute;
  left: 685px;
  top: 460px;
  opacity: 0;
}

#chip8 {
  position: absolute;
  left: 685px;
  top: 360px;
  opacity: 0;
}

#chip9 {
  position: absolute;
  left: 685px;
  top: 270px;
  opacity: 0;
}

#chip10 {
  position: absolute;
  left: 750px;
  top: 460px;
  opacity: 0;
}

#chip11 {
  position: absolute;
  left: 750px;
  top: 360px;
  opacity: 0;
}

#chip12 {
  position: absolute;
  left: 750px;
  top: 270px;
  opacity: 0;
}

#chip13 {
  position: absolute;
  left: 815px;
  top: 460px;
  opacity: 0;
}

#chip14 {
  position: absolute;
  left: 815px;
  top: 360px;
  opacity: 0;
}

#chip15 {
  position: absolute;
  left: 815px;
  top: 270px;
  opacity: 0;
}

#chip16 {
  position: absolute;
  left: 880px;
  top: 460px;
  opacity: 0;
}

#chip17 {
  position: absolute;
  left: 880px;
  top: 360px;
  opacity: 0;
}

#chip18 {
  position: absolute;
  left: 880px;
  top: 270px;
  opacity: 0;
}

#chip19 {
  position: absolute;
  left: 945px;
  top: 460px;
  opacity: 0;
}

#chip20 {
  position: absolute;
  left: 945px;
  top: 360px;
  opacity: 0;
}

#chip21 {
  position: absolute;
  left: 945px;
  top: 270px;
  opacity: 0;
}

#chip22 {
  position: absolute;
  left: 1010px;
  top: 460px;
  opacity: 0;
}

#chip23 {
  position: absolute;
  left: 1010px;
  top: 360px;
  opacity: 0;
}

#chip24 {
  position: absolute;
  left: 1010px;
  top: 270px;
  opacity: 0;
}

#chip25 {
  position: absolute;
  left: 1075px;
  top: 460px;
  opacity: 0;
}

#chip26 {
  position: absolute;
  left: 1075px;
  top: 360px;
  opacity: 0;
}

#chip27 {
  position: absolute;
  left: 1075px;
  top: 270px;
  opacity: 0;
}

#chip28 {
  position: absolute;
  left: 1140px;
  top: 460px;
  opacity: 0;
}

#chip29 {
  position: absolute;
  left: 1140px;
  top: 360px;
  opacity: 0;
}

#chip30 {
  position: absolute;
  left: 1140px;
  top: 270px;
  opacity: 0;
}

#chip31 {
  position: absolute;
  left: 1205px;
  top: 460px;
  opacity: 0;
}

#chip32 {
  position: absolute;
  left: 1205px;
  top: 360px;
  opacity: 0;
}

#chip33 {
  position: absolute;
  left: 1205px;
  top: 270px;
  opacity: 0;
}

#chip34 {
  position: absolute;
  left: 1270px;
  top: 460px;
  opacity: 0;
}

#chip35 {
  position: absolute;
  left: 1270px;
  top: 360px;
  opacity: 0;
}

#chip36 {
  position: absolute;
  left: 1270px;
  top: 270px;
  opacity: 0;
}

#chip0 {
  position: absolute;
  left: 475px;
  top: 360px;
  opacity: 0;
}

#chip2To1One {
  position: absolute;
  left: 1345px;
  top: 460px;
  opacity: 0;
}

#chip2To1Two {
  position: absolute;
  left: 1345px;
  top: 360px;
  opacity: 0;
}

#chip2To1Three {
  position: absolute;
  left: 1345px;
  top: 270px;
  opacity: 0;
}

#chip1st12 {
  position: absolute;
  left: 650px;
  top: 535px;
  opacity: 0;
}

#chip2nd12 {
  position: absolute;
  left: 910px;
  top: 535px;
  opacity: 0;
}

#chip3rd12 {
  position: absolute;
  left: 1170px;
  top: 535px;
  opacity: 0;
}

#chip1To18 {
  position: absolute;
  left: 590px;
  top: 600px;
  opacity: 0;
}

#chipEven {
  position: absolute;
  left: 715px;
  top: 600px;
  opacity: 0;
}

#chipRed {
  position: absolute;
  left: 850px;
  top: 600px;
  opacity: 0;
}

#chipBlack {
  position: absolute;
  left: 975px;
  top: 600px;
  opacity: 0;
}

#chipOdd {
  position: absolute;
  left: 1100px;
  top: 600px;
  opacity: 0;
}

#chip19To36 {
  position: absolute;
  left: 1240px;
  top: 600px;
  opacity: 0;
}

#chip1Over2 {
  position: absolute;
  left: 545px;
  top: 407px;
  opacity: 0;
}

#chip2Over3 {
  position: absolute;
  left: 545px;
  top: 311px;
  opacity: 0;
}

#chip4Over5 {
  position: absolute;
  left: 612px;
  top: 407px;
  opacity: 0;
}

#chip5Over6 {
  position: absolute;
  left: 612px;
  top: 311px;
  opacity: 0;
}

#chip7Over8 {
  position: absolute;
  left: 675px;
  top: 407px;
  opacity: 0;
}

#chip8Over9 {
  position: absolute;
  left: 675px;
  top: 311px;
  opacity: 0;
}

#chip10Over11 {
  position: absolute;
  left: 740px;
  top: 407px;
  opacity: 0;
}

#chip11Over12 {
  position: absolute;
  left: 740px;
  top: 311px;
  opacity: 0;
}

#chip13Over14 {
  position: absolute;
  left: 805px;
  top: 407px;
  opacity: 0;
}

#chip14Over15 {
  position: absolute;
  left: 805px;
  top: 311px;
  opacity: 0;
}

#chip16Over17 {
  position: absolute;
  left: 871px;
  top: 407px;
  opacity: 0;
}

#chip17Over18 {
  position: absolute;
  left: 871px;
  top: 311px;
  opacity: 0;
}

#chip19Over20 {
  position: absolute;
  left: 937px;
  top: 407px;
  opacity: 0;
}

#chip20Over21 {
  position: absolute;
  left: 937px;
  top: 311px;
  opacity: 0;
}

#chip22Over23 {
  position: absolute;
  left: 1005px;
  top: 407px;
  opacity: 0;
}


#chip23Over24 {
  position: absolute;
  left: 1005px;
  top: 311px;
  opacity: 0;
}

#chip25Over26 {
  position: absolute;
  left: 1070px;
  top: 407px;
  opacity: 0;
}

#chip26Over27 {
  position: absolute;
  left: 1070px;
  top: 311px;
  opacity: 0;
}

#chip28Over29 {
  position: absolute;
  left: 1135px;
  top: 407px;
  opacity: 0;
}

#chip29Over30 {
  position: absolute;
  left: 1135px;
  top: 311px;
  opacity: 0;
}

#chip31Over32 {
  position: absolute;
  left: 1198px;
  top: 407px;
  opacity: 0;
}

#chip32Over33 {
  position: absolute;
  left: 1198px;
  top: 311px;
  opacity: 0;
}

#chip34Over35 {
  position: absolute;
  left: 1263px;
  top: 407px;
  opacity: 0;
}

#chip35Over36 {
  position: absolute;
  left: 1263px;
  top: 311px;
  opacity: 0;
}





#chip1To5 {
  position: absolute;
  left: 586px;
  top: 407px;
  opacity: 0;
}

#chip2To6 {
  position: absolute;
  left: 586px;
  top: 312px;
  opacity: 0;
}

#chip4To8 {
  position: absolute;
  left: 651px;
  top: 407px;
  opacity: 0;
}

#chip5To9 {
  position: absolute;
  left: 651px;
  top: 312px;
  opacity: 0;
}

#chip7To11 {
  position: absolute;
  left: 717px;
  top: 407px;
  opacity: 0;
}

#chip8To12 {
  position: absolute;
  left: 717px;
  top: 312px;
  opacity: 0;
}

#chip10To14 {
  position: absolute;
  left: 780px;
  top: 407px;
  opacity: 0;
}

#chip11To15 {
  position: absolute;
  left: 780px;
  top: 312px;
  opacity: 0;
}

#chip13To17 {
  position: absolute;
  left: 848px;
  top: 407px;
  opacity: 0;
}

#chip14To18 {
  position: absolute;
  left: 848px;
  top: 312px;
  opacity: 0;
}

#chip16To20 {
  position: absolute;
  left: 913px;
  top: 407px;
  opacity: 0;
}

#chip17To21 {
  position: absolute;
  left: 913px;
  top: 312px;
  opacity: 0;
}

#chip19To23 {
  position: absolute;
  left: 980px;
  top: 407px;
  opacity: 0;
}

#chip20To24 {
  position: absolute;
  left: 980px;
  top: 312px;
  opacity: 0;
}

#chip22To26 {
  position: absolute;
  left: 1045px;
  top: 407px;
  opacity: 0;
}

#chip23To27 {
  position: absolute;
  left: 1045px;
  top: 312px;
  opacity: 0;
}

#chip25To29 {
  position: absolute;
  left: 1112px;
  top: 407px;
  opacity: 0;
}

#chip26To30 {
  position: absolute;
  left: 1112px;
  top: 312px;
  opacity: 0;
}

#chip28To32 {
  position: absolute;
  left: 1175px;
  top: 407px;
  opacity: 0;
}

#chip29To33 {
  position: absolute;
  left: 1175px;
  top: 312px;
  opacity: 0;
}

#chip31To35 {
  position: absolute;
  left: 1240px;
  top: 407px;
  opacity: 0;
}

#chip32To36 {
  position: absolute;
  left: 1240px;
  top: 312px;
  opacity: 0;
}




/* columnBetChips */

#chip1Over4 {
  position: absolute;
  left: 587px;
  top: 475px;
  opacity: 0;
}

#chip2Over5 {
  position: absolute;
  left: 587px;
  top: 375px;
  opacity: 0;
}

#chip3Over6 {
  position: absolute;
  left: 587px;
  top: 275px;
  opacity: 0;
}

#chip4Over7 {
  position: absolute;
  left: 653px;
  top: 475px;
  opacity: 0;
}

#chip5Over8 {
  position: absolute;
  left: 653px;
  top: 375px;
  opacity: 0;
}


#chip6Over9 {
  position: absolute;
  left: 653px;
  top: 275px;
  opacity: 0;
}

#chip7Over10 {
  position: absolute;
  left: 718px;
  top: 475px;
  opacity: 0;
}

#chip8Over11 {
  position: absolute;
  left: 718px;
  top: 375px;
  opacity: 0;
}

#chip9Over12 {
  position: absolute;
  left: 718px;
  top: 275px;
  opacity: 0;
}

#chip10Over13 {
  position: absolute;
  left: 783px;
  top: 475px;
  opacity: 0;
}

#chip11Over14 {
  position: absolute;
  left: 783px;
  top: 375px;
  opacity: 0;
}

#chip12Over15 {
  position: absolute;
  left: 783px;
  top: 275px;
  opacity: 0;
}

#chip13Over16 {
  position: absolute;
  left: 848px;
  top: 475px;
  opacity: 0;
}

#chip14Over17 {
  position: absolute;
  left: 848px;
  top: 375px;
  opacity: 0;
}

#chip15Over18 {
  position: absolute;
  left: 848px;
  top: 275px;
  opacity: 0;
}

#chip16Over19 {
  position: absolute;
  left: 913px;
  top: 475px;
  opacity: 0;
}

#chip17Over20 {
  position: absolute;
  left: 913px;
  top: 375px;
  opacity: 0;
}

#chip18Over21 {
  position: absolute;
  left: 913px;
  top: 275px;
  opacity: 0;
}

#chip19Over22 {
  position: absolute;
  left: 980px;
  top: 475px;
  opacity: 0;
}

#chip20Over23 {
  position: absolute;
  left: 980px;
  top: 375px;
  opacity: 0;
}

#chip21Over24 {
  position: absolute;
  left: 980px;
  top: 275px;
  opacity: 0;
}

#chip22Over25 {
  position: absolute;
  left: 1045px;
  top: 475px;
  opacity: 0;
}

#chip23Over26 {
  position: absolute;
  left: 1045px;
  top: 375px;
  opacity: 0;
}

#chip24Over27 {
  position: absolute;
  left: 1045px;
  top: 275px;
  opacity: 0;
}

#chip25Over28 {
  position: absolute;
  left: 1110px;
  top: 475px;
  opacity: 0;
}

#chip26Over29 {
  position: absolute;
  left: 1110px;
  top: 375px;
  opacity: 0;
}

#chip27Over30 {
  position: absolute;
  left: 1110px;
  top: 275px;
  opacity: 0;
}

#chip28Over31 {
  position: absolute;
  left: 1175px;
  top: 475px;
  opacity: 0;
}

#chip29Over32 {
  position: absolute;
  left: 1175px;
  top: 375px;
  opacity: 0;
}

#chip30Over33 {
  position: absolute;
  left: 1175px;
  top: 275px;
  opacity: 0;
}

#chip31Over34 {
  position: absolute;
  left: 1240px;
  top: 475px;
  opacity: 0;
}

#chip32Over35 {
  position: absolute;
  left: 1240px;
  top: 375px;
  opacity: 0;
}

#chip33Over36 {
  position: absolute;
  left: 1240px;
  top: 275px;
  opacity: 0;
}






@keyframes wheelRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
